# Service Configuration
SERVICE_PORT=8080

# PostgreSQL Configuration
DB_USER=admin
DB_PASSWORD=postgres
DB_NAME=mydb
DB_PORT=5432

# Redis Configuration
REDIS_PORT=6379
REDIS_PASSWORD=

# Jaeger/OTLP Configuration
JAEGER_PORT=4317
