run_mode: development

service:
  name: manga-go
  domain: localhost
  port: 8080
  allow_origins: "*"
db:
  host: postgresql
  port: 5432
  user: admin
  password: postgres
  database: mydb
otlp:
  endpoint: jaeger:4317
redis:
  host: redis
  port: 6379
  password: ""
  db: 0
asynq:
  concurrency: 10
  image_process_cleanup_delay_hours: 24
smtp:
  host: mailpit
  port: 1025
  username:
  password: ""
  from_name: "Base Go"
  from_mail: no-reply@dev.com
jwt:
  secret: mysecretkey
  expires_seconds: 60
  refresh_secret: myrefresh
  refresh_expire_seconds: 1209600
cookie_name:
  access_token: access_token
  refresh_token: refresh_token
reset_password:
  token_expiry_minutes: 15
  reset_password_url: "http://localhost:8080/users/reset-password?token=%s"
object_storage:
  endpoint: http://minio:9000
  access_key: accesskey
  secret_key: secretkey
  bucket_name: manga
  region: us-east-1
seeder:
  admin_email:
  admin_password:
